*.egg-info
*.ipa
*.apk
Flutter
*.so
*.zp
release/
libappTmp/
dist/
build/
customEngine/
depot_tools/
engine/
libplist/
libusbmuxd/
.idea/
test/
test.py
src/__pycache__/
flutter/
reflutter.egg-info/
goma/
.venv/
*.idsig
.DS_Store
.gclient_cache/
gclient_synced/
__pycache__/

# scratch space for local test artifacts (reusable)
tmp/
.xcode_sdk_shadow/
